/*global*/
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  background-image:url(../images/Background.jpg);
}
.setMaxWidth{
  max-width: 961px;
}
.col{
  flex-direction: column;
}
.d-flex{
  display:flex;
}
.w-33{
  width:33.3%;
  
}
.w-66{
  width:66.6%;
}
.w-100{
  width: 100%;
}
* {
  color:white;
  font-family: Arial, Helvetica, sans-serif;
}

.bg-red{
  background:#891016;
}
/*Header section*/
.logoSection{
  height:120px;
  display: flex;
  justify-content: space-between;
}
#logo{
width:260px;
height:100px;
margin-top:10px;
margin-left:25px;
}
#banner{
  height:80px;
  margin:25px 0px 25px 25px;
}
.linkSection{
  width:100%;
  height:50px;
  background:linear-gradient(to bottom, #222222 0%, #0f0f0f 100%);
  margin:10px 0px;
  justify-content: space-evenly;
  align-items: center;
}
.navItem{
  margin:10px;
  font-size:12pt;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Didact Gothic';
  text-transform: uppercase;
  line-height: 1.2;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.004);
}
.navItem:hover{
  color:#891016;
}
.spacer{
  font-size:18pt;
  font-family: 'Didact Gothic';
}

/*body*/
.bodyWrapper{
  min-height:875px;
  width:100%;
  background-size: cover;
  padding-top:20px;
}
.heroBG{
  background-image: url(../images/hero1.jpg),url(../images/hero2.jpg),url(../images/hero3.jpg);
  background-size:cover;
  width: 100%;
  height:455px;
}
#hero2{
  z-index:-1;
position: relative;
}
#hero3{
  z-index:-2;
  position: relative;
  }
.heroSelector{
  border:2px solid #891016;
  background: black;
  margin:20px;
  align-self: flex-end;
}
.selectorWrapper{
  padding: 10px 0px;
}
.selectorWrapper:hover{
  background:rgba(255, 255, 255, 0.1);
  height:100%;
  cursor: pointer;
}

.feedWrapper{
  height:360px;
  padding-top:10px;
}
.feedL{
  margin-right:5px;
}
.feedR{
  margin-left:5px;
}
.feedL, .feedR{
  background: black;
}
.feedHeading h3{
  margin-top:0px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.2;
    padding:10px;
}
.post{
  height:90px;
  margin:10px;
}
.postPic{
  height:90px;
}
.postTextSmall{
  width:50%;
  margin:0px 10px;
  line-height: 1.2;
}
.postTextLarge{
  width:75%;
  margin:0px 15px;
  line-height: 1.2;
}
.postHeading{
    color:#cd1821;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    margin:0px 0px 5px 0px;
}
.postContent{
  margin:0px;
    font-size: 11px; 
}


/*footer*/
.footerLogos{
  justify-content: space-around;
}
.shortLogo{
  padding:10px 0px;
}
.footerESRB{
  justify-content: center;
  padding:10px;
}
#esrb{
  padding:15px;
  margin:0px 10px;
}
ul {
  list-style: none;
  margin:0px;
  padding:12px;
  font-size:12px;
}
.footerTrademark p{
  font-size: 9px;
  line-height: 1.2;
}